<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<script src="angular/angular.js"></script>
		<script src="angular-route/angular-route.js"></script>
		<script type="text/javascript">
			var myApp = angular.module("myApp", ["ngRoute"])

			myApp.config(function($routeProvider){
				$routeProvider
					.when("/", {
						templateUrl: "partials/login.html",
					})
					.when("/dashboard", {
						templateUrl: "partials/dashboard.html",
						controller: "topicsController"
					})
					.otherwise({
						redirectTo: "/"
					})
			})

			myApp.factory("genericFactory", function($http){
				var factory = {}

					factory.index = function(callback){
						$http.get("/url/path/tk")
							.then(function(output){
								var documents = output
								callback(documents)
							})
					}

				return factory
			})

			myApp.factory("userFactory", function($http){
				var factory = {}

					factory.index = function(callback){
						$http.get("/url/path/tk")
							.then(function(output){
								var documents = output
								callback(documents)
							})
					}

					factory.getID = function(user_name, callback){
						$http.post("/users/create", {name: user_name})
							.then(function(output){
								console.log("factory output", output)
								user = output
								callback(user)
							})
					}

				return factory
			})

			myApp.controller("usersController", function(userFactory){

				function getDocuments(){
					userFactory.index(function(data){
						this.documents = data.data
					})
				}

				this.getUserID = function(){
					userFactory.getID(this.user_name, function(data){
						console.log(data)
						this.user_name = data.data.name
						this.user_id = "data.data._id"
						console.log("this.user_id", this.user_id)
						// window.location = "#/dashboard"
					})
				}
			})

			myApp.controller("topicsController", [function(){

			}])
		</script>
	</head>
	<body ng-app="myApp" ng-controller="usersController as usersCtrl">
		<a href="#/partial1.html">Partial1</a> <-- Links to partials start with # {{ usersCtrl }}
		<div ng-view="">
		</div>
	</body>
</html>